footer {
  background: #0f4c75;
  height: 100%;
  color: white;
  text-align: left;
  padding-top: 50px;
  padding-bottom: 50px;
}

#footer-container-header {
  font-size: 18px;
  margin-bottom: 10px;
}
#footer-container-action {
  font-size: 28px;
}

.footer-container {
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
}
.footer-container-block {
  margin-bottom: 30px;
}
.footer-container-block a {
  color: white;
  font-size: 30px;
  text-decoration: none;
}
.footer-container-block i {
  color: white;
  font-size: 40px;
  margin-right: 20px;
}

.f5webdev {
  margin-top: 80px;
}
.f5webdev a {
  color: white;
  text-decoration: none;
}

.copyright {
  margin-top: 20px;
}
.copyright p {
  font-size: 12px;
  color: white;
}


.google {
  display: none;
}
.google-map {
  display: block;
  width: 100%;
  margin: 0 auto;
}
