* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

a:focus {
  pointer-events: all;
}

html {
  scroll-behavior: smooth;
}

#extra-margin-btm {
  margin-bottom: 70px;
}
#small-text {
  font-size: 16px;
  color: white;
}
#desktop-service-cards {
  display: none;
}

/*site wide tags*/
#white-background {
  background: white;
  border: none;
}
#blue-background {
  background: #0f4c75;
}
#grey-background {
  background: grey;
}
#black-background {
  background: black;
}
#header {
  color: black;
  font-size: 40px;
}
#white-text {
  color: white;
  font-size: 40px;
}
#grey-text {
  color: grey;
}
#blue-text {
  color: #0f4c75;
  font-weight: bolder;
}
#big-blue-text {
  color: #0f4c75;
}
#vertical-blue-line {
  margin-top: 100px;
  background: #0f4c75;
  height: 5px;
  width: 50px;
  position: relative;
  left: 45%;
}
#align-left {
  text-align: left;
}
#desktop-line {
  display: none;
}

#desktop-call {
  display: none;
}


#banner-video {
  margin-top: 80px;
}

.desktop-banner {
  display: none;
}
.mobile-banner {
  background-size: cover;
  background-position: center;
  height: 250px;
  margin-top: 140px;
}

/*below the navbar*/
.below-banner {
  width: 90%;
  margin: 0 auto;
  text-align: left;
  margin-top: 30px;

/*  for animation*/
  position: relative;
  left: -100%;
/*  animation: slideIn 1s forwards;*/
  animation-name: slideIn;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}
.below-banner h1 {
  font-size: 44px;
}
.below-banner h2 {
  margin-top: 10px;
  text-align: left;
  font-size: 20px;
  font-weight: lighter;
}

/*slide in animation*/
@keyframes slideIn {
  0% { left: -100%; transform: rotate(0deg); }
  90% { left: 10%; transform: rotate(0deg); }
  100% { left: 0%; transform: rotate(0deg); }
}


.banner-buttons {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;

  /*  for animation*/
  position: relative;
  left: -100%;
  /*animation: slideIn 1s 1s forwards;*/
  animation: slideIn 1s forwards;
  animation-name: slideIn;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

#estimates-btn {
  border: 1px solid #0f4c75;
  background: #0f4c75;
  color: white;
  padding: 15px;
  font-size: 18px;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  width: 100%;
}


/*we specialize in*/
.our-services {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}
.our-services h1 {
  margin-bottom: 50px;
}

.icon-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
}
.icon-block img {
  height: 200px;
}
#smooth-scroll-icon {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin: 0;
}

/*start of main section below banner*/
.lower-container {
  width: 90%;
  margin: 0 auto;
}
.lower-container h2 {
  font-size: 26px;
  margin-bottom: 50px;
}



.free-estimates {
  margin-bottom: 50px;
  background-color: lightgrey;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.free-estimates p {
  font-size: 36px;
}
.free-estimates a {
  color: grey;
  text-decoration: none;
  font-size: 36px;
}



.lower-container {
  width: 90%;
  margin: 0 auto;
}
/*the top choice - experience*/
.the-top-choice {
  margin-top: 30px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#the-top-choice-header {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}
.the-top-choice-item {
  display: flex;
  align-items: center;
}
.the-top-choice-item p {
  font-size: 18px;
}
.the-top-choice-item img {
  height: 60px;
}

/*
google*/
.google-reviews {
  margin-top: 40px;
}
.google-reviews-desktop {
  display: none;
}


/*facebook*/
.facebook-mobile {
  width: 95%;
  margin: 0 auto;
  padding-bottom: 50px;
}
.facebook-desktop {
  display: none;
}
.follow-us {
  margin-bottom: 20px;
  text-align: center;
  color: #0f4c75;
  font-size: 32px;
  font-weight: bolder;
}
