@media (max-width: 400px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    /*display: none;*/
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {

  }
}

@media screen and (min-width: 800px) {
  #center-text {
    text-align: center;
    font-size: 40px;
  }


  .desktop-phone {
    display: block;
    position: absolute;
    top: 50px;
    left: 200px;

    font-size: 28px;
    font-weight: bolder;
    color: #0f4c75;
  }

  /*navbar*/
  .call-now-btn {
    display: none;
  }
  .nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .left-nav-block {
    width: 50%;
    display: block;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .right-nav-block {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }
  .right-nav-block a {
    background: white;
    border: 2px solid #0f4c75;
    color: #0f4c75;
    font-weight: bolder;
    padding: 15px;
  }
  .right-nav-block a:hover {
    background: #0f4c75;
    color: white;
  }
  .nav img {
  }
  #desktop-call {
    display: block;
    color: #0f4c75;
    font-size: 32px;
  }

  /*banner*/
  .mobile-banner {
    display: none;
  }

  .desktop-header {
    display: flex;
  }

  #banner-video {
    height: 600px;
    display: block;
  }
  .below-banner {
    margin-top: 120px;
    width: 100%;
    height: 600px;
    background: #0f4c75;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .below-banner-top {
    width: 80%;
    margin: 0 auto;
  }
  .below-banner-top h1 {
    margin-top: 0;
    font-size: 44px;
  }
  .below-banner-top h2 {
    margin-top: 0;
    width: 90%;
    font-size: 32px;
    margin-bottom: 30px;
  }
  .banner-buttons {
    display: none;
  }
  #vertical-blue-line {
    display: none;
  }
  .desktop-services-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 30vh;
  }
  #desktop-line {
    display: block;
    background: #0f4c75;
    height: 5px;
    width: 250px;
  }
  #header {
    margin-bottom: 10px;
  }


  /*we specialize in boxes*/
  #mobile-service-cards {
    display: none;
  }
  #desktop-service-cards {
    display: block;
  }
  .icon-flex {
    width: 100%;
    display: flex;
  }
  .icon-block {
    height: 300px;
    width: 34%;
  }

  #desktop-james-hardie {
    width: 50%;
  }


  .mobile-services-header {
    display: none;
  }
  /*service cards*/
  .desktop-service-card-flex {
    display: flex;
  }
  .service-card {
    width: 45%;
    height: 100%;
    margin-bottom: 100px;
    background-image: cover;
  }
  .service-card .upper-card-container {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .service-card .lower-card {
    height: 250px;

  }
  #desktop-services-flex {
    display: flex;
    flex-wrap: wrap;
  }
  #desktop-services-flex li {
    margin-right: 10px;
  }
  #remove {
    display: none;
  }

  .lower-container {
    height: 100%;
  }



  /*what makes us the top choice */
  /*.the-top-choice {
    display: flex;
  }*/
  .desktop-image-flex {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .the-top-choice-item {
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: center;
  }
  .the-top-choice-item p {
    font-size: 20px;
  }
  .the-top-choice-item img {
    height: 140px;
  }



  /*google reviews*/
  .google-reviews {
    display: none;
  }
  .google-reviews-desktop {
    display: block;
    width: 100%;
    padding-top: 40px;
  }



  /*facebook*/
  .facebook-mobile {
    display: none;
  }
  .facebook-desktop {
    display: block;
    width: 95%;
    margin: 0 auto;
    padding-bottom: 50px;
  }



  .footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .google-map {
    display: none;
  }
}
