#black-text {
  color: black;
  padding-top: 200px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.shingle-companies {
  margin-bottom: 0;
}
.shingle-types {
  height: 100%;
  margin: 0 auto;
}
#margin-top {
  margin-top: 50px;
}
#margin-left {
  margin-left: 20px;
  text-decoration: none;
}
#margin-bottom {
  margin-bottom: 50px;
}
.carousel-caption {
  color: white;
}
.shingles-header {
  margin-bottom: 20px;
  text-align: center;
}
.secondary-pages-container {
  padding-top: 20px;
  width: 90%;
  margin: 0 auto;
}
.secondary-pages-container h1 {
  color: black;
  text-align: center;
}
.secondary-pages-container img {
  width: 100%;
}

.residential-roofing-headers {
  text-align: center;
  margin-bottom: 50px;
  width: 90%;
  margin: 0 auto;
}
.residential-roofing-headers p {
  margin-top: 30px;
  margin-bottom: 50px;
}

.services-list {
  width: 80%;
  margin: 0 auto;
  text-align: left;
}
.center-flex {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.secondary-page-btn {
  margin-top: 50px;
  text-align: center;
  border: 1px solid #0f4c75;
  background: #0f4c75;
  padding: 20px;
  width: 50%;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
  margin-bottom: 50px;
}
.secondary-page-btn a {
  color: white;
  text-decoration: none;
}



/*insurance claims process*/
.insurance-claims {
  width: 90%;
  margin: 0 auto;
}
.start-a-claim {
  text-align: center;
  margin: 0;
  font-size: 24px;
}
.insurance-process p {
  text-align: center;
  margin: 0;
  font-size: 24px;
}
.insurance-process img {

}
.insurance-claims-buttons {
  margin-top: 20px;
  margin-bottom: 50px;
}
.insurance-claims-buttons p {
  font-size: 24px;
  text-align: center;
  margin: 0;
}
#claims-lower-text {
  font-size: 16px;
}
.clickable-insurance-image {
  margin-top: 20px;
  margin-bottom: 20px;
}
.clickable-insurance-image img {
  width: 100%;
}
#progressive {
  margin-top: 50px;
  margin-bottom: 50px;
}
#smaller-insurance-logo {
  height: 100px;
  margin-bottom: 50px;
}
#smaller-insurance-logo img {
  height: 200px;
}
