@media screen and (min-width: 800px) {
  .secondary-pages-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .slideshow-container img {
    height: 500px;
    object-fit: cover;
  }



  /*insurance cliams */
  .start-a-claim {
    text-align: center;
    font-size: 28px;
  }
  .insurance-claims {
    margin-top: 100px;
  }
  .insurance-claims p {
    font-size: 40px;
  }
  .insurance-claims-buttons {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 50px;
  }
  .clickable-insurance-image img {
    width: 150px;
  }
}
