#black-text {
  color: black;
  padding-top: 100px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}


#margin-top {
  margin-top: 50px;
}
#margin-left {
  margin-left: 20px;
  text-decoration: none;
}
#margin-bottom {
  margin-bottom: 50px;
}
.carousel-caption {
  color: white;
}


.slideshow-container {
  text-align: center;
}
.slideshow-container h3 {
  font-size: 18px;
  font-weight: bolder;
}

#fixed {
  position: fixed;
  top: 0px;
}
#bootstrap-left-posiiton img {
  position: fixed;
  left: 5px;
}
.shingles-header {
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
}
.shingles-header h1 {
  margin-top: 150px;
  font-size: 32px;
  font-weight: bolder;
}
.shingles-header p {
  padding: 1.5rem;
  text-align: left;
  font-size: 18px;
}


.carousel {
  margin-bottom: 100px;
}


.secondary-pages-container {
  padding-top: 20px;
  width: 90%;
  margin: 0 auto;
}
.secondary-pages-container h1 {
  color: black;
  text-align: center;
}
.secondary-pages-container img {
  width: 100%;
}

.residential-roofing-headers {
  text-align: center;
  margin-bottom: 50px;
  width: 90%;
  margin: 0 auto;
}
.residential-roofing-headers p {
  margin-top: 30px;
  margin-bottom: 50px;
}

.services-list {
  width: 80%;
  margin: 0 auto;
  text-align: left;
}
.center-flex {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.secondary-page-btn {
  margin-top: 30px;
  text-align: center;
  border: 1px solid #0f4c75;
  background: #0f4c75;
  padding: 20px;
  width: 50%;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
}
.secondary-page-btn a {
  color: white;
  text-decoration: none;
}
#margin-bottom {
  margin-bottom: 50px;
}



/*insurance claims process*/
.insurance-claims {
  width: 90%;
  margin: 0 auto;
}
.start-a-claim {
  text-align: center;
  margin-top: 100px;
  font-size: 24px;
}
.insurance-process p {
  text-align: center;
  margin: 0;
  font-size: 24px;
}
.insurance-process img {

}
.insurance-claims-buttons {
  margin-top: 20px;
  margin-bottom: 50px;
}
.insurance-claims-buttons p {
  font-size: 24px;
  text-align: center;
  margin: 0;
}
#claims-lower-text {
  font-size: 16px;
}
.clickable-insurance-image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.clickable-insurance-image img {
  height: 100px;
  width: auto;
}
#aaa img {
  height: 80px;
  margin-top: 50px;
}
#allstate img {
  height: 200px;
  margin-bottom: -40px;
}
#chubb {
  margin-bottom: 50px;
}
#country img {
  height: 50px;
  margin-bottom: 50px;
}
#hartford {
  margin-bottom: 50px;
}
#farmers {
  margin-bottom: 50px;
}
#geico img {
  height: 30px;
  margin-bottom: 50px;
}
#liberty img {
  margin-bottom: 50px;
}
#metlife img {
  height: 50px;
  margin-bottom: 50px;
}
#nationwide img {
  height: 120px;
  margin-bottom: 50px;
}
#progressive img {
  height: 30px;
  margin-bottom: 50px;
}
#safeco {
  margin-bottom: 50px;
}
#statefarm img {
  height: 40px;
  margin-bottom: 50px;
}
#travelers img {
  height: 50px;
  margin-bottom: 50px;
}



/*siding page*/
#james-hardie {
  margin-top: 10px;
  height: 50px;
}
.siding-ul {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 30px;
}
.siding-ul li {
  width: 80%;
  margin: 0 auto;
}




/*remodeling page*/
.remodeling-caption {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 50px;
}







