#hidden {
  display: none;
}


/*mobile services header */
.mobile-services-header {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}
.mobile-services-header h3 {
  font-size: 20px;
}
.mobile-services-header p {
  font-size: 12px;
}

/*moible service cards*/
.card-product {
  width: 100%;
  box-shadow: 0 15px 15px rgba(0,0,0,0.2);
}
.card-product a {
  overflow: hidden;
  height: 200px;
  background: white;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  text-decoration: none;
  color: black;
}

.card-product img {
  height: 100%;
  width: 40%;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  width: 60%;
  padding: 16px;
}




/*desktop service cards*/
.service-card {
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}
.upper-card {
  background-size: cover;
  background-position: center;
  padding: 120px 0;
}
.upper-card-container {
  color: white;
  text-align: center;
}
.upper-card img {
  min-height: 320px;
  max-height: 370px;
  object-fit: cover;
  width: 100%;
}
.lower-card {
  margin-top: -4px;
  margin-bottom: 80px;
  background: white;
}
.lower-card-container {
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
}

.lower-card-header {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #0f4c75;
  text-align: center;

  border-radius: 0px 5px 5px 0px;
}
.lower-card-header h1 {
  font-size: 20px;
  color: white;
}

.lower-card-container ul {
  padding: 0;
}
.lower-card-container li {
  font-size: 28px;
  list-style: none;
  font-weight: bolder;
}
.lower-card-description {
  margin-top: 20px;
  padding-bottom: 20px;
  color: grey;
}
.learn-more-btn {
  padding-top: 20px;
  padding-bottom: 40px;
}
.learn-more-btn a {
  border: 2px solid #0f4c75;
  padding: 10px;
  background: #0f4c75;
  color: white;
  text-decoration: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 1);
  border-radius: 5px;
}
